@mixin fullStretch {
    width: 100%;
    height: 100%;
}

@mixin fullViewport {
    width: 100vw;
    height: 100vh;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}